* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ffffff;
    height: 100vh;
    background: linear-gradient(#000000, #104b57, #1b90a1);
}
.app-container {
    font-size: 16px;
    width: 90vh;
    max-width: 37.5em;
    padding: 2em 1.8em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.app-wrapper {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 100px;
    width: 100%;
}